body {
    color: white;
    text-align: center;
    font-family: 'Tinos', serif;
    color: #95A3B3;
    margin: 0
}

#hero {
    background-image: url("Assets/galaxy.gif");
    background-size: cover;
}

.title {
    text-shadow: 0px 0px 4px black;
}

.button {
    padding: 6px 12px;
    border-radius: none;
    border: none;
    background: white;
    font-family: inherit;
    color: #95A3B3;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

.bottomline {
    border-bottom: 3px solid white;
}

#spacexlogo {
    width: 150px;
}